
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/title_crew.tsv
cmake-build-debug/P_3.exe
cmake-build-debug/CMakeFiles/P_3.dir/main.cpp.obj
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/ratings.tsv
cmake-build-debug/title_akas.tsv
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
*.bin
*.exe
*.cmake
*.tsv
*.txt
*.ninja
*.log
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
